<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC317A5B1D6CA3BB00931D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC317A741D6CA3BB00931D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC317A7F1D6CA3BB00931D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
